<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center" class="content">

     <h1>
         Welcome to {{title}}!
     </h1>
<section>
    <ng-container *ngFor="let dato of datos">
        <span class="circulos" 
        [class.success] = "dato.success">
            {{dato.inicial}}
        </span>
    </ng-container>

</section>

<section>
    <h2>{{datos[indice].pregunta}}</h2>
    <img *ngIf="datos[indice].img" width="400" [src]="datos[indice].img">
</section>        
     


</div>
<section>
    <input #answer
    (keyup.enter)="check(answer.value)">
   
   <button type="button" (click)="check(answer.value)">Responder</button>
</section>

<section class="botones">
    <a *ngIf="indice > 0" href="#" class="previous" (click)="prev()">&laquo; Anterior</a>
    <a href="#" class="next" (click)="next()">Siguiente &raquo;</a>
</section>


<router-outlet></router-outlet>