<div class="premio" (click)="toggleInfo()">{{premioAcumulado}} €</div>
<main style="text-align:center" class="content" (click)="InfoPanel && toggleInfo()">

    <h1>{{title}}! </h1>
<section>
    <ng-container *ngFor="let dato of datos">
        <span class="circulos"
        (click)="move(dato.id)" 
        [ngClass]="{'success': dato.success, 'selected' : indice === dato.id }">
            {{dato.inicial}}
        </span>
    </ng-container>

</section>

<section>
    <h2>{{datos[indice].pregunta}}</h2>
    <img class="img-qa" *ngIf="datos[indice].img" [src]="datos[indice].img">
</section>        

<section>
    <input #answer
    (keyup.enter)="check(answer.value)" [(ngModel)]="inputValue">
   
   <button type="button" (click)="check(answer.value)">Responder</button>
</section>

<section class="botones">
    <a *ngIf="indice > 0" href="#" class="previous" (click)="prev()">&laquo; Anterior</a>
    <a *ngIf="indice < datos.length - 1" href="#" class="next" (click)="next()">Siguiente &raquo;</a>
</section>

<section class="info" [class.show]="InfoPanel" (click)="toggleInfo()">
    <ng-container *ngFor="let dato of datos; let i = index">
        <div class="premios" [class.selected]="progress === datos.length - i && i != 0">
            {{datos.length - i}} · {{calcularPremio(i)}} €
        </div>
    </ng-container>
</section>
</main>
<router-outlet></router-outlet>