<section>
    <ng-container *ngFor="let dato of datos">
        <span class="circulos"
        (click)="changeQuestion(dato.id)" 
        [class.goldem]="dato.success && dato.goldem"
        [ngClass]="{'success': dato.success && !dato.goldem, 'selected' : indice === dato.id }">
            <ng-container *ngIf="dato.success && dato.goldemInicial; else elseBlock">
                {{dato.goldemInicial}}
            </ng-container>

            <ng-template #elseBlock> {{dato.inicial}} </ng-template>
        </span>
    </ng-container>
</section>