
<main style="text-align:center" class="content" (click)="showInfoPanel && toggleInfo()">
    
    <h2 class="texto">{{title}}!</h2>

    <app-pagination  [indice]="indice" (itemID)="move($event)"></app-pagination>


    <section>
        <h2>{{data.pregunta}}</h2>
        <img class="img-qa" *ngIf="data.img" [src]="data.img">
    </section>        

    <section class="responder" *ngIf="!data.success">
        <input #answer
        (keyup.enter)="check(answer.value)" [(ngModel)]="inputValue">
    
        <button type="button" (click)="check(answer.value)">Responder</button>
    </section>


    <app-info-panel [progress]="progress" [InfoPanel]="showInfoPanel"></app-info-panel>

</main>

<div class="premio" (click)="toggleInfo()">{{premioAcumulado}} €</div>
