.texto { 
    color: #2d0e53;
    text-shadow: 1px 1px solid;
    font-family: "Montez", cursive;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-shadow: 2px 2px 8px #2d0e53;
    font-size: 38px;
}