/* You can add global styles to this file, and also import other style files */

body, .noscroll{
    margin:0;
    padding: 0 5px;
    
}
main {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}


.circulos {
    border-radius: 50px;
    padding: 10px;
    background-color: #9b9999;
    margin-right: 4px;
    cursor: pointer;
    margin-bottom: 5px;
    display: inline-block;
    width: 18px;
    &.success{
        background-color: rgb(41, 170, 41);
    }
    &.selected {
        border:3px solid #2d0e53;
    }
}


section{
    text-align: center;
}

.img-qa{
    width: 400px;
    max-width: 100%
}
.botones{
    margin-top: 2em;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #04AA6D;
    color: white;
  }

.premio{
    z-index: 99;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0 20px 10px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
    background: #2d0e53;
    box-shadow: -1px -1px 5px #fff, 2px 2px 20px #1f1e1e, inset 0px 0px 0px #fff, inset 0px 0px 0px #1f1e1e;
    transition: all 300ms ease;
}
.comodines{
    position:absolute;
    top:-5px;
    right: 0;
    p {
        margin: 5px
    }
}
.comodin{
    width: 28px;
    cursor: pointer;
    margin: 0 20px 10px;
    padding: 12px;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 20px;
    background: #2d0e53;
    box-shadow: -1px -1px 5px #fff, 2px 2px 20px #1f1e1e, inset 0px 0px 0px #fff, inset 0px 0px 0px #1f1e1e;
    a{
        padding: 0;
        color: #fff;
        font-size: 23px;
    }
}

.premios{
    padding: 5px 50px;
    &.selected{
        background-color: yellowgreen;
        text-shadow: 1px 1px 3px black;
    }
}

.info{
    min-height: 100vh;
    padding-top: 15px;
    position: absolute;
    display: inline-block;
    height: 100%;
    top:0;
    right: -350px;
    width: 270px;
    background-color: #2d0e53;
    transition: all 1s ease;
    text-align: left;
    color: rgb(240, 205, 140);
    font-size: 20px;
    &.show{
        right: 0;
    }
}

input, button {
    margin-top: 5px;
    padding: 8px;
    margin-bottom: 2em;
}

.texto { 
    color: #2d0e53;
    text-shadow: 1px 1px solid;
    font-family: "Montez", cursive;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-shadow: 2px 2px 8px #2d0e53;
    font-size: 38px;
}