/* You can add global styles to this file, and also import other style files */

.circulos {
    border-radius: 50%;
    padding: 10px;
    background-color: #9b9999;
    margin-right: 2px;
    .success{
        background-color: green;
    }
}